html{
    padding: 20px;
}*{  
    font-family: 'VT323', monospace;
    color: white;
}body{
    background-color: black;
    height:100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}h1{
    font-size: 50px;
    letter-spacing: 5px;
}button{
    width: 200px;
    height: 100px;
    background-color: black;
    border: solid 2px white;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}button:hover{
    transform: scale(1.1);
}i{
    color: red;
    font-size: 30px;
    padding: 0 10px;
}.content{
    position: absolute;
    top: 5%;
    right: 5%;
}.refresh-button{
    display: none;
}.guess-button{
    display: none;
}.container{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}.fa-play{
    color: white;
    animation: play 1s ease infinite;
}.fa-rotate-right{
    color: white;
    animation: rotate 2s ease infinite;
}.fa-dice{
    color: white;
    animation: play 1s ease infinite;
}.score{
    position:absolute;
    top:0%;
    left:5%;
}.score-number{
    position:absolute;
    top:0%;
    left:14%;
    color:yellow;
}
@keyframes play{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(0);
    }
}@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0);
    }
}@media (max-width: 1620px){
    .score-number{
        top:0%;
        left:20%;
    }
}@media (max-width: 996px){
    .score-number{
        top:0%;
        left:25%;
    }
}
@media (max-width: 768px){
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }i{
        font-size: 24px;
    }h1{
        font-size: 30px;
    }.score{
        top:10%;
        left:5%;
    }.score-number{
        top:10%;
        left:26%;
    }
}@media (max-width: 468px){
    .content{
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
    }.score-number{
        top:10%;
        left:30%;
    }
}@media (max-width: 387px){
    .score-number{
        top:10%;
        left:35%;
    }
}@media (max-width: 387px){
    .score-number{
        top:10%;
        left:43%;
    }
}